<ActionBar title="Profile Edit">
</ActionBar>


<ScrollView orientation="horizontal"  (scroll)="onScroll($event)" >
        <StackLayout  class="page">
            <ListView  height="150" [items]="ActivityList"  (itemTap)="onItemTap($event)">
                <ng-template let-activity="item">
                    <GridLayout>
                        <Label [text]="activity.name" [class]="'list-group-item'"></Label>
                    </GridLayout>
                </ng-template>
            </ListView>
        </StackLayout>
</ScrollView>